h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans', sans-serif;
}

p, a, input, label, textarea, span, ul, li{
    font-family: 'Open Sans', sans-serif;
}

body { padding-top: 70px; }

.btn{
    background: #f05f5c;
    color: white;
    padding: 9px 26px;
    border-radius: 10px;
}

img{
    max-width: 100%;
}

#navbar{
    padding-left: 20vh;
}

#slideshow .jumbotron{
    padding-bottom: 10px;
    padding-top: 70px;
}

.carousel-caption {
    position: relative;
    top: 0;
    left: 0;
    color: black;
    padding-bottom: 20px;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
    z-index: 999;
    width: 45px;
    height: 45px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.25) none repeat scroll 0 0;
    border-radius: 100%;
    padding: 0 0 10px 0px;
    line-height: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    top: 50%;
    bottom: 50%;
    width: 5%;
    opacity: 1;
    position: absolute;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    font-size: 30px;
    background: none;
}

.carousel .carousel-control-next {
    right: 20px;
}

header nav{
    position: fixed;
}

header nav img{
    width: 150px;
}

header li{
    margin: 0px 0px;
}

footer{
    border-top: 1px solid #c9c9c9;
    padding: 40px 0px;
}

footer img{
    width: 130px;
    margin-bottom: 15px;
}

footer a{
    color: #f05f5c;
}

footer ul{
    list-style: none;
    padding: 0;
    margin-right: 20px;
    float: left;
}

footer ul li{
    margin-bottom: 5px;
    
}

footer ul li a{
    color: #f05f5c;
}

@media only screen and (max-width: 768px) {

    body{
        padding-left: 0px;
    }

    #latest .outer{
        margin-bottom: 54px;
    }

    #latest .outer img{
        width: 100%;
    }

    footer h4{
        margin-bottom: 26px;
        margin-top: 35px;
    }

}

/*Academic Staff
#staff{
    font-size: 42px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 70px;
}

#staff .container{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}*/

#staff{
    padding: 80px 0px;
    background: rgb(248, 248, 248);
}

#staff h3{
    margin-bottom: 80px;
}

#staff .upper{
    position: relative;
}

#staff .innertext{
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.team{
    background: rgba(200, 265, 200, 0.8);
    border-radius: 20px;
}

#staff .innertext h4{
    font-size: 22px;
    margin-top: 18px;
}

.outer{
    border-radius: 15px;
    min-height: 750px;
}

.lower{
    padding: 10px;
}

#staff .lower h3{
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
}

#staff .lower i{
    margin-right: 6px;
}

#staff .outer{
    background: white;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
}

#staff a{
    color: black;
}

#staff a:hover{
    text-decoration: none;
}